body {
	background: #220d27;
	color: #ffffff;
}

img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.img-container {
	position: relative;
	transition: transform 0.1s;
}

.img-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.title {
  color: white;
}

.link {
  text-decoration: none;
}
